$toyBackground: #0e0e0f

body
  background: whitesmoke
  background-image: radial-gradient(#BBB 3px, transparent 6px, transparent 9px, #BBB 9px, transparent 12px)
  background-size: 40px 40px
  margin: 0
  height: 100vh

#game-container
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  box-sizing: border-box
  width: 70vmin
  height: 70vmin
  min-width: 500px
  min-height: 500px
  position: relative
  font-family: 'Open Sans', sans-serif
  background: $toyBackground
  border-radius: 100%

/* OPTIONS */
  
$buttonSize: 20px
  
#options
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-content: center
  align-items: flex-start
  position: absolute
  top: 50%
  left: 50%
  width: 60%
  height: 60%
  transform: translate(-50%, -50%)
  background: $toyBackground
  z-index: 1
  border-radius: 100%
  
#title
  font-family: 'Righteous', sans-serif
  text-align: center
  font-size: 2em
  color: white
  margin: 0

#display-container
  display: table
  height: 50px
  width: 50%
  max-width: 300px
  margin: 1em 25% 1.25em
  border: 1px solid black

#display 
  font-size: 1em
  text-align: center
  display: table-cell
  display: table-cell
  vertical-align: middle
  width: 100%
  margin: 0
  background: lightgray
  font-family: 'Press Start 2P', monospace

.option-block
  width: 30%
  max-width: 100px
  margin: 0 2.5%
  text-align: center
  color: #888
  p
    margin: 0
    
#strict-mode
  position: relative
  small
    color: #444
    position: absolute
    text-transform: uppercase
  small:nth-of-type(1) 
    left: 0
  small:nth-of-type(2) 
    right: 0

#strict-toggle
  display: block
  background: orange
  width: $buttonSize
  height: $buttonSize
  margin: $buttonSize/3 auto 5px
  border-right: $buttonSize solid #222
  &.on
    border-left: $buttonSize solid #222
    border-right: none
  
#reset-button
  display: inline-block
  background: red
  width: $buttonSize * 1.2
  height: $buttonSize * 1.2
  margin-top: $buttonSize/3
  border-radius: 100%
  box-sizing: border-box
  border: 2px solid maroon
  &:active
    background: maroon
    border-color: lighten(maroon, 5)
  
/* GAME BUTTONS */
  
#controls
  width: 100%
  height: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-content: center

=gameButton($color, $s1, $s2, $s3, $s4)
  $unlit: hsl(hue($color), saturation($color) * 0.8, lightness($color) * 0.5)
  width: 43%
  height: 43%
  margin: 2%
  float: left
  background: $unlit
  cursor: pointer
  border-width: 7px*$s1 7px*$s2 7px*$s3 7px*$s4
  border-style: solid
  border-color: darken($unlit, 10)
  border-radius: 10px
  &.waiting
    background: radial-gradient(circle at 50% 50%, darken($color, 5) 2%, darken($color, 10) 20%, $unlit)
    border-color: $unlit
  &:focus
    outline: 1px solid $color
    outline-offset: 10px
  &.lit, &.waiting:active
    background: radial-gradient(circle at 50% 50%, lighten($color, 18) 4%, $color 20%, $unlit)
    border-color: $color
  &:active
    border-width: 7px*$s3 7px*$s4 7px*$s1 7px*$s2

#red 
  +gameButton(red, 1, 0, 0, 1)
  border-top-left-radius: 100%
    
#green 
  +gameButton(green, 1, 1, 0, 0)
  border-top-right-radius: 100%

#yellow 
  +gameButton(yellow, 0, 1, 1, 0)
  border-bottom-right-radius: 100%
  
#blue 
  +gameButton(blue, 0, 0, 1, 1)
  border-bottom-left-radius: 100%